@import url('https://rsms.me/inter/inter.css');

.owlStyle{
  border: 10px solid white;
  box-sizing: border-box;
  /* padding: 1em; */

}

.owlCom1{
  height: 100%;
  min-height: 215px;  
  background: linear-gradient(180deg, rgba(255, 112, 98, 0.0677083) 0%, #FF7062 140.38%)
  ,url("../../../../img/HN.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.owlCom2{
  height: 100%;
  min-height: 215px;  
  background: linear-gradient(180deg, rgba(255, 112, 98, 0.0677083) 0%, #FF7062 140.38%)
  ,url("../../../../img/DN.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.owlCom3{
  height: 100%;
  min-height: 215px;  
  background: linear-gradient(180deg, rgba(255, 112, 98, 0.0677083) 0%, #FF7062 140.38%)
  ,url("../../../../img/TPHCM.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coverImg{
  width: 100%;
}

.owlStyleChil{
  /* border: 10px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 10px; */
  border: 2px solid #E3E3E3;
  border-radius: 10px;
}

.owlStyleChil1{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #5B5B5B;
}
.owlStyleChil2{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: line-through;
  color: #A5A5A5;
}
.owlStyleChil3{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FF7062;
}
.owlStyleChil4{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FF7062;
}

.containerOwlChil{
  margin: 1em;
}

.headerOwl{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;  
  color: #5B5B5B;

}

.desHeaderOwl{
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
/* or 114% */


/* A5A5A5 */

color: #A5A5A5;
}