@import url('https://rsms.me/inter/inter.css');


.rightPart{
    height: 760px;
    width: 64.4270833%;
    background:url("../../../img/LoginPaper.png");
    background-size: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
}

.floating-label{
    margin: 0.5em;
    margin-left: 0em;
}

.form-warning{
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #FF7062;
    transition: 0.5s ease all;
    margin-top: 1px;
}
.leftPart{
    width: 35.57291667%;
}

.loginPanel{
    padding-bottom: 29.6px;
    padding-top: 65.24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28.8px;
    line-height: 41px;
    color: #5B5B5B;
}


.user-input-wrp .inputText{
	outline: none;
	border:none;
	border-bottom: 1px solid #E3E3E3;
    box-shadow: none !important;
    border-width: medium medium 2px;
}

/* stable */
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 18px;
    left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 13.5px;
    line-height: 20px;
    transition: 0.5s ease all;
}
/* focus */
.user-input-wrp input:focus ~ .floating-label
{
    top: 0px;
	left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14.5px;
    line-height: 20px;
    opacity: 1;
    transition: 0.5s ease all;
    color: #FF7062;
    font-weight: bold;
}

.user-input-wrp input:focus
{
    border-color: #FF7062;
    transition: 1.5s ease all;
}


/* no focus */
.user-input-wrp input:not(:focus) ~ .floating-label{
    position: absolute;
	pointer-events: none;
	top: 18px;
	left: 10px;
    transition: 0.5s ease all;
    color: #A5A5A5;
}

.user-input-wrp input:not(:focus):valid
{
    border-color: #FF7062;
    transition: 1.5s ease all;
}
.user-error{
    visibility: hidden;
}
.user-input-wrp input:not(:focus):valid ~ .floating-label{
    top: 0px;
	left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14.5px;
    line-height: 20px;
    opacity: 1;
    transition: 0.5s ease all;
    color: #FF7062;
    font-weight: bold;
}

.submitBtn{
    width: 100%;
    height: 44px;
    font-family: 'Inter';
    background: #FF7062;
    border-radius: 8px;
    margin-top: 10.6px;
    border: 0px solid;
    color: #FFFFFF;
    font-size: 15px;
}

.pad-56{
    padding: 0px;
}

.fbBtn{
    border: 1px solid #197ACF;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    height: 44px;
    font-family: 'Inter';
    background: #ffffff;
    margin-top: 16.8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #197ACF;
}

.det1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #A5A5A5;
}

.det2{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FF7062;
}
