@import url('https://rsms.me/inter/inter.css');
.masthead {
    height: 100vh;
    min-height: 500px;  
    /* background-image: url('./img/headerbackground.png'); */
    /* background-image: url('../../../img/headerbackground.png'); */
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),
    url("../../../img/headerbackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px 0px 100px 100px;
  }

  .mg-10{
    margin-top: 70px;
  }

.introduction{
  font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 70px;
line-height: 64px;
text-align: center;
color: #FFFFFF;
}
.des{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}

.container-fluid{
    padding: 0;
  }

.font-weight-light{

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 64px;

/* or 67% */

text-align: center;

/* FFFFFF */

color: #FFFFFF;
}