@import url('https://rsms.me/inter/inter.css');

.owlStyle{
  border: 10px solid white;
  box-sizing: border-box;
}

.owlStyleChil{
  /* border: 10px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 10px; */
  border: 2px solid #E3E3E3;
  border-radius: 10px;
}

.owlStyleChil1{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #5B5B5B;
}
.owlStyleChil2{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: line-through;
  color: #A5A5A5;
}
.owlStyleChil3{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FF7062;
}
.owlStyleChil4{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FF7062;
}

.containerOwlChil{
  margin: 1em;
}

.headerOwl{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;  
  color: #5B5B5B;
  margin-left: 10px;
}

.desHeaderOwl{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #A5A5A5;
  margin-left: 10px;
}