@import url('https://rsms.me/inter/inter.css');

.block-17 {
  
    margin-left: -35px;
    margin-right: -35px;
    margin-top: 36.6px;
    background: #fff;
    /* overflow: hidden; */
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    border-radius: 20px; }
    .block-17 form .fields {
      width: calc(100% - 0px);
      position: relative; }
      .block-17 form .fields .one-third {
        /* overflow: hidden; */
        width: 150%;
        background: #fff; }
        .block-17 form .fields .two-third {
          margin: 0.7em;
          padding-left: 17.6px;
          background: #fff; }
        .block-17 form .fields .one-third:last-child {
          border-right: none;
          width: 70%;
          border-left: 1px solid rgba(0, 0, 0, 0.1); }
        .block-17 form .fields .one-third label {
          font-weight: 700;
          color: #000000; }
      .block-17 form .fields .form-control {
        font-family: 'Inter';
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: transparent;
        background: #fff !important;
        color: #4d4d4d !important;
        border: 2px solid rgba(0, 0, 0, 0.1);
        font-size: 14px;
        width: 100%;
        height: 70px !important;
        border: 1px solid transparent;
        padding: 10px 30px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0; }
        .block-17 form .fields .form-control::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-family: 'Inter';
          color: #4d4d4d; }
        .block-17 form .fields .form-control::-moz-placeholder {
          /* Firefox 19+ */
          font-family: 'Inter';
          color: #4d4d4d; }
        .block-17 form .fields .form-control:-ms-input-placeholder {
          /* IE 10+ */
          font-family: 'Inter';
          color: #4d4d4d; }
        .block-17 form .fields .form-control:-moz-placeholder {
          /* Firefox 18- */
          font-family: 'Inter';
          color: #4d4d4d; }
      .block-17 form .fields .icon {
        position: absolute;
        top: 50%;
        right: 30px;
        font-size: 14px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: rgba(0, 0, 0, 0.7); }
        @media (max-width: 767.98px) {
          .block-17 form .fields .icon {
            right: 10px; } }
      .block-17 form .fields .select-wrap {
        /* overflow: hidden; */
        position: relative; 
      }
        .block-17 form .fields .select-wrap select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; 
        }
    .block-17 form .search-submit {
      overflow: hidden;
      width: 380px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f85959;
      border: 1px solid #f85959;
      color: #fff;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      text-align: center;
      font-size: 20px;
      padding: 12px 10px;
      -webkit-border-radius: 0px  20px  20px 0px;
      -moz-border-radius: 0px  20px  20px 0px;
      -ms-border-radius: 0px  20px  20px 0px;
      border-radius: 0px  20px  20px 0px ; }
      .block-17 form .search-submit:hover {
        text-decoration: none;
        background: #FF7062 !important;
        color: #fff !important;
        border: 1px solid #f85959 !important; }

.searchbtn{
  font-style: normal;
  background-color: none;
  font-family: 'Inter';
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.filterBox{
  background-color: greenyellow;
  margin-top: 5%;
  width: 210%;
  height: 300%;
  position: absolute;
  z-index: 2;
  border-radius: 8px;
}

@media (max-width: 1024px) {
     .filterBox{ 
       background-color: red; 
       position: absolute; 
       z-index: 2; 
       width: 230%;
       height: 300%;
     } 
  }

  @media (max-width: 900px) {
    .filterBox{ 
      background-color: blue; 
      position: absolute; 
      z-index: 2; 
      width: 287%;
      height: 200%;
    } 
 }


/* .filterBox:after{
  content: "";
  display: block;
  padding-bottom: 100%;
} */
   