@import url('https://rsms.me/inter/inter.css');

.block-17 {
    margin-left: -35px;
    margin-right: -35px;
    margin-top: 36.6px;
    background: #fff;
    overflow: hidden;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    border-radius: 20px; }
    .block-17 form .fields {
      width: calc(100% - 0px);
      position: relative; }
      .block-17 form .fields .one-third {
        width: 150%;
        background: #fff; }
        .block-17 form .fields .two-third {
          /* margin: 0.5em 0.5em 0.1em 0em; */
          margin: 0.7em;
          /* width: 35%; */
          padding-left: 17.6px;
          background: #fff; }
        .block-17 form .fields .one-third:last-child {
          border-right: none;
          width: 70%;
          border-left: 1px solid rgba(0, 0, 0, 0.1); }
        .block-17 form .fields .one-third label {
          font-weight: 700;
          color: #000000; }
      .block-17 form .fields .form-control {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: transparent;
        background: #fff !important;
        color: #4d4d4d !important;
        border: 2px solid rgba(0, 0, 0, 0.1);
        font-size: 14px;
        width: 100%;
        height: 70px !important;
        bordeR: 1px solid transparent;
        padding: 10px 30px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0; }
        .block-17 form .fields .form-control::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #4d4d4d; }
        .block-17 form .fields .form-control::-moz-placeholder {
          /* Firefox 19+ */
          color: #4d4d4d; }
        .block-17 form .fields .form-control:-ms-input-placeholder {
          /* IE 10+ */
          color: #4d4d4d; }
        .block-17 form .fields .form-control:-moz-placeholder {
          /* Firefox 18- */
          color: #4d4d4d; }
      .block-17 form .fields .icon {
        position: absolute;
        top: 50%;
        right: 30px;
        font-size: 14px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: rgba(0, 0, 0, 0.7); }
        @media (max-width: 767.98px) {
          .block-17 form .fields .icon {
            right: 10px; } }
      .block-17 form .fields .select-wrap {
        position: relative; }
        .block-17 form .fields .select-wrap select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; }
    .block-17 form .search-submit {
      width: 380px;
      background: #f85959;
      border: 1px solid #f85959;
      color: #fff;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 600;
      text-align: center;
      font-size: 20px;
      padding: 12px 10px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
      .block-17 form .search-submit:hover {
        background: #FF7062 !important;
        color: #fff !important;
        border: 1px solid #f85959 !important; }