.ticketBox{
    width: auto;
    height: auto;
    /* border: 1px solid black; */
    padding: 3rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 10px 20px rgba(0, 0, 0, 0.04);
    margin: 1rem;
}

.datePickerbtn{
    text-align: center;
    line-height: 10rem;
    border-radius: 10px;
    color: brown;
}

.myTitle{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #5B5B5B;
    
}
.myTitleType{
    width: 180.25px;
    height: 58.4px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #5B5B5B;
    vertical-align: middle;
    display: table-cell;   
    padding-left: 1rem;
}

.myTitlePrice{
    width: 180.25px;
    height: 58.4px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FF7062;
    vertical-align: middle;
    display: table-cell;   
}


    /* radio button */
    .radio-toolbar input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
        
      }
      .radio-toolbar label {
        margin: 1rem;
        display: inline-block;
        background-color: none;
        padding: 10px 20px;
        font-size: 16px;
        border: 2px solid #E3E3E3;
        border-radius: 4px;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        color: #5B5B5B;
    }
    .radio-toolbar input[type="radio"]:checked + label {
        background-color:#FF7062;
        color: #FFFFFF;
        border-color: #FF7062;
        transition: 0.5s;
    }
    .radio-toolbar input[type="radio"]:focus + label {
        /* border: 2px dashed #444; */
        border-color: #FF7062;
        color: #FFFFFF;
        transition: 0.5s;
    }
    .radio-toolbar label:hover {
        background-color: #FF7062;
        color: #FFFFFF;
        transition: 0.5s;
        border-color: #FF7062;
      }